.header {
  background-color: $header-bg;
  color: $header-colour;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  margin: 0 auto;
  max-width: $site-max-width;
}

.header__title {
  font-size: 2.4rem;
  margin: 0;
}
